<div class="container mx-auto">
    <div class="row">
        <div class="col-md-12 widget">
            <ng-container *ngIf="auth.user$ | async as user">
                <a class="nav-item nav-link" href="#">{{ user.name }}</a>
            </ng-container>
        </div>
    </div>
    <div class="row" style="max-width: 1500px;">
        <div class="col-md-4 widget">
            test
        </div>
        <div class="col-md-3 widget">
            test
        </div>
        <div class="col-md-4 widget">
            test
        </div>
    </div>
    <div class="row" style="max-width: 1500px;">
        <div class="col-3 widget me-1">
            test
        </div>
        <div class="col-5 widget me-1">
            test
        </div>
        <div class="col-3 widget">
            test
        </div>
    </div>
</div>
