.container {
    margin: 0.8rem;
}

.widget {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    position: relative;
}

.widget .title {
    margin: 0;
}

.widget .date {
    color: gray;
    font-size: 0.8rem;
}

.widget .money {
    font-weight: bold;
    margin: 0;
}

.widget .lastPeriod {
    color: red;
    font-size: 0.8rem;
    margin: 0;
}

.widget .icon {
    width: 60px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 16px;
}

.transactions-widget ul {
    list-style-type: none;
    padding: 0;
}

.transactions-widget li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.transactions-widget .title{
    padding-bottom: 20px;
}

.transactions-widget .income {
    color: green;
}

.transactions-widget .expense {
    color: red;
}

.transactions-widget .transaction{
    border: 1px solid rgb(243, 241, 241);
    border-radius: 10px;
    padding: 10px;
}